body {
	font-family: arial;
	background-color: #D3BE84;
	/*opacity:0.3;*/

}

#box {
	border:10;
	background-color:#351334;
	width: 500px;
	height: 200px
	margin: 10px;
	border-radius: 5px;
	position: absolute;
	float: center;
	margin-right: 200px;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 450px;
}
input[type=email] {
	padding: 10px 8px;
	margin: 10px;
	width: 300px;
	height: 20px;
	border:none;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 15px;
	margin-left: 100px;
}
h1{
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 35px;
	padding-top: 20px;
}
input[type=submit] {
	height: 35px;
    width: 120px;
    background-color:transparent;
    color:white;
    border:1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-right: 200px


}

input:hover[type=submit]{
	background-color: white;
	color: black;

}