body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

.imaged {
	width: 200px;
	height: 200px; 
	border:1px solid black;
	margin: 20px;
	border-radius: 5px;
	cursor: pointer;"
}

img {
	width: 200px;
	height:130px;
}